.banner-section {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__slider {
    max-width: 870px;
    position: relative;
  }

  &__slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;

    &--prev {
      left: 20px;
    }

    &--next {
      right: 20px
    }
  }
}