.basket {
  position: relative;
  padding-right: 20px;

  &__number {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $brand-color;
    border-radius: 50%;
    font-weight: 500;
    line-height: 20px;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
    bottom: 0;
    right: 5px;
  }
}