.catalog {
  &__heading {
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 700;
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__filter {
    display: flex;
  }

  &__item {
    font-size: 14px;
    line-height: 1.21;
    margin-right: 8px;
    padding: 10px 22px;
    background-color: #F0F0F4;
    border-radius: 3px;
    opacity: 0.7;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__select-wrapper {
    position: relative;
    
    &::before {
      content: "";
      position: absolute;
      width: 13px;
      height: 7px;
      display: block;
      top: 13px;
      right: 55px;
      background: url("../../images/svg/arrow-drop.svg") no-repeat center;
      pointer-events: none;
    }
  }

  &__select {
    appearance: none;
    margin-right: 35px;
    font-size: 14px;
    line-height: 1.21;
    color: $text-color;
    padding: 8px 45px 8px 20px;
    border: 1.5px solid #D7D9DF;
    cursor: pointer;

    &:focus {
      outline: none;
      border-color: $brand-color;
    }
  }

  &__button {
    opacity: 0.3;
    outline: none;

    &--active {
      opacity: 1;
    }
  }

  &__icon-column {
    width: 23px;
    height: 21px;
    fill: none;
    margin-right: 10px;
  }

  &__icon-line {
    width: 25px;
    height: 19px;
  }

  &__inner {
    display: flex;
  }

  &__aside {
    min-width: 290px;
    margin-right: 10px;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__product {
    margin-bottom: 30px;
    transition: all 0.3s;

    &--list {
      width: 100%;
    }
  }

  &__pagination {
    margin-bottom: 100px;
  }
}