.description-product {

  &__title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  &__code {
    font-size: 15px;
    line-height: 18px;
    opacity: 0.6;
    margin-bottom: 20px;
  }

  &__action {
    margin-bottom: 50px;
  }
}

@media(max-width: $mobile-width) {
  .description-product {
    flex-basis: auto;

    &__title {
      font-size: 20px;
      margin-bottom: 40px;
    }

    &__code {
      margin-bottom: 5px;
    }

    &__action {
      margin-bottom: 80px;
    }
  }
}