.header {
  margin-bottom: 80px;

  &--catalog {
    margin-bottom: 40px;
  }
  
  &__top {
    padding: 25px 0 20px;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
    display: none;
  }

  &__action {
    display: flex;
    align-items: center;
  }

  &__address {
    font-weight: 700;
    font-style: normal;
    padding-left: 30px;
    position: relative;
    margin-right: 85px;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      width: 30px;
      height: 30px;
      background: url("../images/svg/adress-icon.svg") no-repeat center;
    }
  }

  &__menu-mobile {
    display: none;
  }

  &__mobile-menu-wrapper {
    display: none;
  }
}

@media(max-width: 1100px) {
  .header {
    &__address {
      margin-right: 40px;
    }
  }
}

@media(max-width: $tablet-width) {
  .header {
    margin-bottom: 40px;
    position: relative;

    &__burger {
      display: block;
      width: 34px;
      height: 27px;
      outline: none;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute; 
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $text-color;
        transition: all 0.3s;
        border-radius: 3px;
      }

      &::before {
        top: 0;
      }

      &::after {
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 10px 0 0 $text-color;
      }

      &--opened {
        &::before {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
  
        &::after {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
          box-shadow: none;
        }
      }
    }

    &__menu-mobile {
      display: block;
      left: 0;
      position: absolute;
      transform: translateX(-100%);
      transition: all 0.3s;
      z-index: 15;

      &--opened {
        transform: translateX(0);
      }
    }

    &__bottom {
      background-color: #F0F0F4;
      overflow: auto;
    }
  }
}

@media(max-width: $mobile-width) {
  .header {
    margin-bottom: 25px;
    
    &__address {
      display: none;
    }
  }
}