.info-form {
  $self: &;

  &__action {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__wrapper {
    margin-right: 55px;

    &:first-of-type {
      position: relative;
      margin-right: 155px;

      &::before {
        content: "";
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background: url("../images/svg/search-icon.svg") no-repeat center;
      }
    }
  }

  &__radio {
    &:checked + #{$self}__label {
      &::before {
        background-color: $brand-color;
        border: none;
      }
    }
  }

  &__label {
    font-size: 17px;
    line-height: 1.17;
    color:  rgba(47, 48, 53, 0.7);

    &--margin-r {
      margin-right: 17px;
    }

    &--radio {
      padding-left: 27px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: 3px;
        left: 0;
        width: 14px;
        height: 14px;
        border: 1px solid #c4c4c4;
        border-radius: 3px;
      }
    }
  }

  &__search {
    width: 313px;
    padding: 9px 30px 9px 17px;
    border: none;
    border: 1px solid transparent;
    background-color: #F0F0F4;
    border-radius: 3px;

    &:hover {
      border: 1px solid $brand-color;
    }

    &:focus {
      outline-color: $brand-color;
    }
  }
}

@media(max-width: 1200px) {
  .info-form {
    &__wrapper {
      margin-right: 30px;

      &:first-of-type {
        margin-right: 50px;
      }
    }
  }
}

@media(max-width: $tablet-width) {
  .info-form {
    padding-left: 0;

    &__action {
      flex-direction: column;
      align-items: flex-start;
    }

    &__wrapper {
      margin-bottom: 10px;
      margin-right: 0;
      
      &:first-of-type {
        margin-right: 0;
      }
    }
  }
}

@media(max-width: $mobile-width) {
  .info-form {
    &__wrapper {
      &:first-of-type {
        display: flex;
        flex-direction: column;
        
        &::before {
          top: 66%;
        }
      }
    }

    &__label {
      margin-bottom: 10px;

      &--margin-r {
        margin-right: 0;
      }
    }

    &__search {
      width: 100%;
    }
  }
}