.mobile-menu {
  display: none;
}

@media(max-width: $tablet-width) {
  .mobile-menu {
    display: flex;

    &__item {
      margin-right: 15px;
      padding: 15px 0;
    }

    &__link {
      color: $text-color;
      font-weight: 700;
    }
  }
}