.page-footer {
  background: $base-color;
  padding: 40px 0 30px;

  &__top {
    display: flex;
    margin-bottom: 45px;
  }

  &__action {
    flex-basis: 50%;
  }

  &__text {
    max-width: 222px;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 700;
    margin-bottom: 35px;
  }

  &__form {
    display: flex;
  }

  &__input {
    border: none;
    padding: 8px 12px;

    &::placeholder {
      font-size: 14px;
      line-height: 1.21;
      color: #C4C4C4;
    }
  }

  &__button {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
    padding: 10px 15px;
  }

  &__wrapper {
    display: flex;
    width: 475px;
    justify-content: space-between;
  }

  &__title {
    font-size: 14px;
    line-height: 1.21;
    font-weight: 700;
    pointer-events: none;
  }

  &__item {
    margin-bottom: 3px;
  }

  &__link-info {
    font-size: 14px;
    line-height: 1.21;
    color: $text-color;

    &:hover {
      text-decoration: underline;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 50%;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    width: 475px;
    margin: 0 auto;
  }

  &__link {
    font-size: 10px;
    color: #48494D;
    
    &:not(:last-of-type) {
      margin-right: 80px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

@media(max-width: 1200px) {
  .page-footer {
    &__top {
      flex-wrap: wrap;
    }

    &__action {
      flex-basis: 45%;
    }

    &__wrapper {
      margin-bottom: 30px;
    }

    &__socials {
      flex-basis: 100%;
      justify-content: center;
    }
  }
}

@media(max-width: $tablet-width) {
  .page-footer {
    &__top {
      flex-direction: column;
      align-items: center;
    }

    &__action {
      margin-bottom: 40px;
    }

    &__text {
      text-align: center;
      max-width: none;
    }

    &__input {
      width: 100%;
    }
  }
}

@media(max-width: $mobile-width) {
  .page-footer {
    padding: 17px 0 30px;

    &__action {
      width: 100%;
      border-bottom: 2px solid #F9F9FC;
      padding-bottom: 40px;
      margin-bottom: 0;
    }

    &__text {
      max-width: none;
    }

    &__wrapper {
      flex-direction: column;
      width: 100%;
    }

    &__info {
      border-bottom: 2px solid #F9F9FC;
      padding: 16px;
    }

    &__title {
      color: #7F7F7F;
      font-weight: 500;
      display: block;
      position: relative;
      pointer-events: auto;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        width: 12px;
        height: 8px;
        transform: rotate(0);
        background: url('../images/svg/arrow-drop.svg') no-repeat center
      }

      &--active {
        &::after {
          transform: rotate(180deg);
        }
      }
    }

    &__list {
      display: none;
    }

    &__bottom {
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}