.products {
  margin-bottom: 85px;
  
  &__heading {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
  }

  &__slider {
    margin: -20px;
    
    .slick-list {
      padding: 20px;
    }
  }

  &__slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;

    &--prev {
      left: -40px;
    }

    &--next {
      right: -40px
    }
  }

  &__items {
    margin-bottom: 25px;
  }

  &__item {
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    color: $text-color;
    padding-bottom: 10px;

    &:not(:last-of-type) {
      margin-right: 50px;
    }
  }

  &__item.tab--active {
    border-bottom: 2px solid $brand-color;
  }

  &__content {
    margin-bottom: 25px;
  }

  &__slide {
    margin: 0 15px;
  }

  &__more {
    text-align: center;
  }

  &__more-link {
    font-size: 15px;
    padding: 15px 45px;
    letter-spacing: 0.12em;
    display: inline-block;
    text-transform: uppercase;
    background-color: #F0F0F4;
    color: $text-color;
  }
}

@media(max-width: 1370px) {
  .products {
    &__content {
      margin-bottom: 55px;
    }

    &__dots {
      position: absolute;
      display: flex;
      justify-content: center;
      bottom: -25px;
      list-style: none;
      width: 100%;

    li {
      margin-right: 10px;
      
      &.slick-active {
        button {
          background-color: $brand-color;
        }
      }
    }

    button {
      font-size: 0;
      padding: 0;
      margin: 0;
      width: 14px;
      height: 14px;
      border: 1px solid transparent;
      border-radius: 50%;
      cursor: pointer;
      outline: none;
    }
    }
  }
}

@media(max-width: $tablet-width) {
  .products {
    &__heading {
      text-align: center;
    }

    &__items {
      margin-bottom: 20px;
    }

    &__slide {
      margin: 0 17px;
    }
  }
}

@media(max-width: $mobile-width) {
  .products {
    &__content {
      margin-bottom: 75px;
    }
    
    &__slide {
      margin: 0 20px;
    }
  }
}