.search {
  margin-bottom: 80px;
  
  &__items {
    margin-bottom: 25px;
  }

  &__item {
    display: inline-block;
    color: $text-color;
    padding: 10px 25px;
  }

  &__item {
    &.tab--active {
      background-color: $base-color;
      border-radius: 5px;
      text-shadow: 0 0 .9px $text-color, 0 0 .9px $text-color;
    }
  }

  &__form {
    display: flex;
  }

  &__input {
    padding: 0 20px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: $base-color;

    &::placeholder {
      font-size: 16px;
      line-height: 1.18;
      color: #656464;   
    }
  }

  &__button {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.12em;
    padding: 17px 40px;
    border-radius: 3px;
    margin-left: -1px;
  }
}

@media(max-width: $tablet-width) {
  .search {
    &__item {
      padding: 10px 15px;
    }
  }
}

@media(max-width: $mobile-width) {
  .search {
    &__items {
      overflow: auto;
      white-space: nowrap;
    }

    &__item {
      padding: 0 0 5px;
      margin-right: 10px;

      &.tab--active {
        background-color: transparent;
        border-bottom: 2px solid $brand-color;
        border-radius: 0;
      }
    }

    &__form {
      position: relative;
      
      &::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        background: url("../images/svg/search-icon.svg") no-repeat center;
      }
    }

    &__input {
      padding: 15px 20px;
    }

    &__button {
      display: none;
    }
  }
}